body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("pics/szoba.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav.navbar {
    background-color: #a61210;
    color: white;
    font-size: 30px;
    font-family: "Arial Black";
    text-shadow: 3px 3px black;
}

div.user {
    margin-left: 1000px;
    height: 220px;
    width: 300px;
    margin-top: 50px;
}

.picture {
    position: center;
    margin: 30px;
    height: 220px;
    width: 300px;
    border-radius: 10px;
    float: right;
}

.bid {
    position: center;
    margin-left: 800px;
    margin-top: 40px;
    height: 220px;
    width: 300px;
    float: right;
}

.list {
    margin: 30px;
    color: white;
    font-size: 30px;
    font-family: "Arial Black";
    text-shadow: 3px 3px black;
    float: left;
}

a.btn-primary {
    margin-left: 35px;
}

p {
    position: center;
    margin: auto;
}