body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("pics/vagasibatman.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    position: center;
    color: white;
    font-size: 30px;
    font-family: "Arial Black";
    text-shadow: 3px 3px black;
    margin-left: 30px;
}

.table {
    color: white;
    font-size: 30px;
    font-family: "Arial Black";
    text-shadow: 3px 3px black;
}

nav.navbar {
    background-color: #a61210;
    color: white;
    font-size: 30px;
    font-family: "Arial Black";
    text-shadow: 3px 3px black;
}

