<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Neighbours Home Page</title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <div>
            <h2 th:text="'Hello ' + ${user.getNickname()} + '! Want you beszállni az internetbe with Vágási Feri?'"></h2>
        </div>
        <div class="center">
            <div class="user">
                <h3>User details:</h3>
                <div class="picture">
                </div>
                <div>
                    <button class="uploadbutton">Upload photo</button>
                </div>
            </div>
            <h1>Neighbours Bidding Page</h1>
            <a class="button" th:href="'/auction/' + ${user.id}" role="button">GO TO THE AUCTION PAGE</a>
        </div>
    </body>
</html>